[Desktop Entry]
Name=Todos Extension
Comment=Manage your todos
Exec=todos_extension
Icon=me.dumke.TodosExtension
Terminal=false
Type=Application
Categories=Utility;GTK;
StartupNotify=true
